form {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  top: 75px;
}

input {
  width: 618px;
  background: var(--gray-100);
  border: 2px solid var(--gray-300);
  outline: none;
  padding: 0.9375rem 1.125rem;
  border-radius: 8px;

  font: var(--font-input);
  color: var(--gray-600);
}

input::placeholder {
  font: var(--font-input);
  color: var(--gray-500);
}

input:focus {
  border-color: var(--purple-base);
}

button {
  border: none;
  background: var(--purple-dark);
  color: var(--gray-100);
  padding: 1rem 1.5rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font: var(--font-button);
  cursor: pointer;
  transition: 0.3 background-color ease;
}

button:hover {
  background: var(--purple-base);
}
